<?xml version="1.0"?>

<!-- Controller spawner
	- joint state controller
	- sot controller
	- floor frame publisher
	- robot state publisher
 -->

<launch>
  <!-- Set the python path -->
  <env name="PYTHONPATH" value="$(env PYTHONPATH):$(find sot_controller)/python_code" />

  <!-- Load the configuration file of sot controller -->
  <rosparam command="load" file="$(find sot_controller)/config/sot_controller.yaml" />
  
  <!-- Joint state controller -->
  <rosparam command="load" file="$(find joint_state_controller)/joint_state_controller.yaml" />

  <!-- hand configuration -->
  <rosparam command="load" file="$(find reem_controller_configuration)/config/joint_trajectory_controllers.yaml" />

  <!-- Spawn controllers -->
  <node name="controllers_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="joint_state_controller 
              sot_controller
              right_hand_controller
              left_hand_controller
              " />

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>
 
  <!-- Create the floor frame -->
  <include file="$(find sot_controller)/launch/floor_frame_publisher.launch"/>

 
</launch>
