<launch>
	<!-- start reem simulation and the sot controller (No Gazebo) -->
  <include file="$(find sot_controller)/launch/dummy_act_mgr_test_sot_reem.launch" />

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find sot_controller)/config/veldamp_cfg.vcg" />

	<rosparam param="sot_rviz_marker_listener/frameid">floor_link</rosparam>
  <node name="sot_rviz_marker" pkg="sot_rviz_marker" type="sot_listener" />
	
	<!-- fire up your favourite demo! -->
  <node name="run_command" pkg="dynamic_graph_bridge" type="run_command" ns="sot_controller" args="$(find sot_controller)/python_code/demo/demo_static_velocity_damping.py" output="screen"/>

</launch>
