<launch>
	<!-- start reem simulation and the sot controller -->
	<include file="$(find sot_controller)/launch/dummy_act_mgr_test_sot_reem_gazebo.launch" />

  	<!-- start the trj publisher -->
	<include file="$(find trj_publisher)/launch/trj_publisher.launch" />
	
	<!-- start dynamic reconfigure -->
	<node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" />

	<!-- start the filters for the trajectory -->
	<!-- args is also used for output topic path -->
	<arg name="ref_frame" value="base_link" />
	<node pkg="sot_filters" type="sot_filters" name="right_wrist_filter" args="$(arg ref_frame) /sot_controller/arm_right_tool_joint /sot_filters/right_wrist">
		<remap from="/right_wrist_filter/transform_stamped" to="/hand_pose_publisher/right_hand_ref_pose" /> <!-- INPUT -->
	</node>
	<node pkg="sot_filters" type="sot_filters" name="left_wrist_filter" args="$(arg ref_frame) /sot_controller/arm_left_tool_joint /sot_filters/left_wrist">
		<remap from="/left_wrist_filter/transform_stamped" to="/hand_pose_publisher/left_hand_ref_pose" /> <!-- INPUT -->
	</node>
	<node pkg="sot_filters" type="sot_filters" name="gaze_filter" args="$(arg ref_frame) /sot_controller/camera_joint /sot_filters/gaze">
		<remap from="/gaze_filter/vector_stamped" to="/hand_pose_publisher/head_ref_point" /> <!-- INPUT -->
	</node>

	<!-- start the filters for the ball perception
	<node pkg="sot_filters" type="sot_filters" name="ball_filter" args="$(arg ref_frame) /sot_controller/camera_joint /sot_filters/ball">
		<remap from="/ball_filter/pose_stamped" to="/move_head_towards_largest_circle_stereo/ball_position" />
	</node> -->
	<node pkg="sot_filters" type="sot_filters" name="left_wrist_filter_cam" args="$(arg ref_frame) /sot_controller/arm_left_tool_joint /sot_filters/ball">
		<remap from="/left_wrist_filter_cam/transform_stamped" to="/hand_pose_publisher/left_hand_ref_pose" /> <!-- INPUT -->
	</node>
	
	<rosparam param="sot_rviz_marker_listener/frameid">floor_link</rosparam>
  	<node name="rviz_marker" pkg="rviz_marker" type="sot_listener" />
	
	<!-- fire up your favourite demo! -->
	<node name="run_command" pkg="dynamic_graph_bridge" type="run_command" ns="sot_controller" args="$(find sot_controller)/python_code/demo/demo_dynamic_velocity_damping.py" output="screen"/>

	<!-- start RVIZ for visualization -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find sot_controller)/config/reem_demo_hydro_nocam.rviz" />
</launch>
