<?xml version="1.0"?>
<launch>

<!--GAZEBO dependency -->
	<arg name="world"  default="empty"/>  <!-- empty, small_office, ... (see ../worlds) -->
	<arg name="robot"  default="capsule"/>          <!-- full, lower_body, foot -->
	<arg name="gzpose" default="-x 0.0 -y 0.0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0"/>
	<arg name="gui" default="false"/>
	<arg name="debug" default="false"/>

	<env name="GAZEBO_MODEL_PATH" value="$(find reem_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)" />

	<!-- start up world -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find reem_gazebo)/worlds/$(arg world).world"/>
		<arg name="gui" value="$(arg gui)"/>
		<arg name="debug" value="$(arg debug)"/>
		<!-- Set the python path -->
		<env name="PYTHONPATH" value="$(find sot_controller)/python_code:$(find sot_controller)/python_code/demo:$(optenv PYTHONPATH)" />
	</include>

	<!-- spawn robot in simulation -->
	<include file="$(find reem_gazebo)/launch/reem_spawn.launch">
	<arg name="robot"  value="$(arg robot)"/>
	<arg name="gzpose" value="$(arg gzpose)"/>
	</include>

        <!-- start reem simulation and the sot controller -->
       	<include file="$(find sot_controller)/launch/controller_spawner.launch" />


</launch>
